<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Home Page</title>
  </head>
  <body>
    <h1>This is EJS Home Page.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odio
      consequuntur illum dicta cumque soluta aspernatur quis, officia ducimus
      provident commodi qui quidem molestiae enim sapiente non. Alias, aperiam
      dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
      asperiores beatae quas animi corporis fugiat! Quis, ducimus alias. Magni,
      cum quasi. Accusantium asperiores laborum illo! Autem blanditiis ipsam
      libero. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
      voluptates ratione dicta dolorem corrupti quis assumenda commodi deleniti,
      soluta harum quasi reiciendis minima cumque molestiae porro, eligendi est
      consequuntur laborum.
    </p>
    <button>Click me!</button>
  </body>
</html>
